<section class="car-search-form">
  <header class="form-header">
    <search-filters></search-filters>
    <button class="save-search-btn">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/293e821b836f8462b770ffbc4cdde8f3e652066491df859d504db4bb779c58ee?placeholderIfAbsent=true&apiKey=42475809f4c148fa9ae1fe84d7b1a359"
        alt=""
        class="save-icon"
      />
      <span>Сохранить поиск</span>
    </button>
  </header>
  <search-options></search-options>
  <additional-filters></additional-filters>
  <search-actions></search-actions>
</section>
