.photo-slider {
  position: relative;
  width: 100%;
  max-width: 300px; /* Ограничение ширины слайдера */
  margin: auto;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: auto; /* Сохранение пропорций изображения */
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button:first-of-type {
  left: 0;
}

button:last-of-type {
  right: 0;
}
