<div class="app-container">

    <app-header></app-header>
   <section class="car-search-section">
     <app-search-form></app-search-form>
   </section>
   <app-used-tires
   [usedTires]="[
     {
       image:
       'https://cdn.builder.io/api/v1/image/assets/TEMP/ec0a93af25a7d18efaaaf7b10fb96858b43b2fd159beab4b08025fa8d11498c8?placeholderIfAbsent=true&apiKey=1961f3cb0ee74210b21ba84ee064973c',
       name: 'Farroad FRD16',
       price: '25 917 ₸',
       specs: 'Летние / 185 70 R14',
       location: 'Алматы',
       set: 'Комплект из 3 шин'
     },
     {
       image:
       'https://cdn.builder.io/api/v1/image/assets/TEMP/ec0a93af25a7d18efaaaf7b10fb96858b43b2fd159beab4b08025fa8d11498c8?placeholderIfAbsent=true&apiKey=1961f3cb0ee74210b21ba84ee064973c',
       name: 'Bridgestone Ecopia',
       price: '30 000 ₸',
       specs: 'Летние / 195 65 R15',
       location: 'Алматы',
       set: 'Комплект из 4 шин'
     },
     {
       image:
       'https://cdn.builder.io/api/v1/image/assets/TEMP/ec0a93af25a7d18efaaaf7b10fb96858b43b2fd159beab4b08025fa8d11498c8?placeholderIfAbsent=true&apiKey=1961f3cb0ee74210b21ba84ee064973c',
       name: 'Michelin Primacy',
       price: '35 000 ₸',
       specs: 'Летние / 205 55 R16',
       location: 'Алматы',
       set: 'Комплект из 4 шин'
     },
     {
       image:
       'https://cdn.builder.io/api/v1/image/assets/TEMP/ec0a93af25a7d18efaaaf7b10fb96858b43b2fd159beab4b08025fa8d11498c8?placeholderIfAbsent=true&apiKey=1961f3cb0ee74210b21ba84ee064973c',
       name: 'Goodyear EfficientGrip',
       price: '40 000 ₸',
       specs: 'Летние / 215 50 R17',
       location: 'Алматы',
       set: 'Комплект из 4 шин'
     }
   ]"
 ></app-used-tires>
 
   <section class="body-type-search-section">
     <app-new-cars></app-new-cars>
   </section>
   <app-private-listings></app-private-listings>
   <section class="body-type-search-section">
  
     <app-body-type-search></app-body-type-search>
   </section>
   <section class="budget-search-section">
  
     <app-budget-search></app-budget-search>
   </section>
  
   <section class="featured-cars-section">
  
     <app-featured-cars></app-featured-cars>
   </section>
   <app-popular-cars></app-popular-cars>
   <section class="footer-section">
     <app-footer></app-footer>
   </section>
  </div>
  