<div class="app-container">
  <app-header></app-header>
 <section class="car-search-section">
   <app-search-form></app-search-form>
 </section>
 <h1>w</h1>

 <app-used-tires></app-used-tires>

 <section class="body-type-search-section">
   <h1>w</h1>
   <app-new-cars></app-new-cars>
 </section>

 <section class="body-type-search-section">
   <h2>Поиск по типу кузова</h2>
   <app-body-type-search></app-body-type-search>
 </section>


 <section class="budget-search-section">
   <h2>Поиск по бюджету</h2>
   <app-budget-search></app-budget-search>
 </section>

 <section class="featured-cars-section">
   <h2>Избранные автомобили</h2>
   <app-featured-cars></app-featured-cars>
 </section>

 <section class="footer-section">
   <app-footer></app-footer>
 </section>
</div>
