<div class="app-container">

  <app-header></app-header>
 <section class="car-search-section">
   <app-search-form></app-search-form>
 </section>
 <app-used-tires></app-used-tires>
 <section class="body-type-search-section">
   <app-new-cars></app-new-cars>
 </section>
 <app-private-listings></app-private-listings>
 <section class="body-type-search-section">

   <app-body-type-search></app-body-type-search>
 </section>
 <section class="budget-search-section">

   <app-budget-search></app-budget-search>
 </section>

 <section class="featured-cars-section">

   <app-featured-cars></app-featured-cars>
 </section>
 <app-popular-cars></app-popular-cars>
 <section class="footer-section">
   <app-footer></app-footer>
 </section>
</div>
