
<section class="new-cars">
  <h2 class="section-title">Продажа Авто в Казахстане</h2>
  <p>найдено 18 333 авто</p>
  <div class="car-grid">
    <div class="car-card" *ngFor="let car of Cars">
      <img src="https://www.autobak.kz/cms/uploads/images/Vse%20o%20Toyota%20Camry%2075.jpg" [alt]="car.image" class="car-image" />
      <div class="car-details">
        <span class="car-price">30000 $</span><br>
        <span class="car-monthly-price">{{ 30000/60 }}/$ в месяц по кредиту</span>
        <h3 class="car-name">{{ car.make.toUpperCase() }}</h3>
        <p class="car-name">{{ car.model.toUpperCase() }}</p>
        <p class="car-location">Drive: {{ car.drive }}</p>
        <p class="car-date">Year: {{ car.year }}</p>
      </div>
    </div>
  </div>
  <a href="#" class="show-more">Показать новые авто</a>
</section>
