<app-header></app-header>
<div class="tire-marketplace">
  <div class="container">
    <mat-card class="search-section">
      <mat-card-content>
        <mat-card-title><h3 class="title-search">Подобрать шины по:</h3></mat-card-title>
        <form class="search-form">
          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Ширина профиля</mat-label>
            <mat-select>
              <mat-option *ngFor="let width of uniqueWidths" [value]="width">{{ width }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Высота профиля</mat-label>
            <mat-select>
              <mat-option *ngFor="let height of uniqueHeights" [value]="height">{{ height }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Диаметр, в дюймах</mat-label>
            <mat-select>
              <mat-option *ngFor="let diameter of uniqueDiameters" [value]="diameter">{{ diameter }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Сезонность</mat-label>
            <mat-select>
              <mat-option *ngFor="let season of uniqueSeasons" [value]="season">{{ season }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Бренд</mat-label>
            <mat-select>
              <mat-option *ngFor="let brand of uniqueBrands" [value]="brand">{{ brand }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Год</mat-label>
            <mat-select>
              <mat-option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Цена</mat-label>
            <mat-select>
              <mat-option *ngFor="let price of uniquePrices" [value]="price">{{ price }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class = "search-form-title">Шипы</mat-label>
            <mat-select>
              <mat-option *ngFor="let stud of uniqueStuds" [value]="stud">{{ stud }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary">Сбросить фильтры</button>
          <button mat-raised-button color="primary">Показать {{ tires_count }}</button>
        </form>
      </mat-card-content>
    </mat-card>

    <h2 class="section-title">БУ шины в Казахстане</h2>
    <div class="tire-grid">
      <mat-card *ngFor="let tire of tires" class="tire-card">
        <app-photo-slider [photos]="tire.photos"></app-photo-slider>
        <mat-card-content>
          <h3>{{ tire.model.name }} </h3>
          <p class="price">{{ tire.price | currency:'KZT':'symbol':'1.0-0' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button (click)="addToFavorites(tire.id)">
            <mat-icon>favorite</mat-icon> В избранное
          </button>
          <button mat-raised-button color="primary" (click)="buyTire(tire.id)">Купить</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
